ul{
    background-color: rgba(128, 220, 245, 0.642);
    list-style-type:number;
}
li[data-available="true"]{
    background-color:green;
    margin:10px;
}
li[data-available="false"]{
    background-color:red;
    margin:10px;
}
li[ data-price="high"]{
    font-weight:bold;
}
[data-category="Electronics"]{
    list-style-type:upper-alpha;
}